.Link {
    font-size: 18px;
    font-weight: 600;
    border-radius: 2px;
    cursor: pointer;
    color: rgb(20, 20, 20);
    transition: .2s all;
    display: flex;
    padding: 4px 0;
    
}

.Link:hover {
    background: #E6FFFA;
    color: #285E61;
    width: 100%;
    padding: 4px 0;
}

.Icon {
    margin: 4px 10px;
}

.Title {
    margin: 6px;
}

