
.Head {
    padding: 20px;
}

.HeadTop {
    display: flex;
    justify-content: space-between;
}

.HeadBottom {
    padding: 10px;
}

.Buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}