

.Head {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    background: rgb(243, 243, 243);
}

.Buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}