.Layout {
    min-height: 100vh;
    padding: 10px;
}

.Body {
    margin-top: 80px;
    padding: 20px 0;
    display: flex;
    min-height: 1080px;
}

.Left,.Right  { 
    width: 25%;
    padding: 20px;
}
