.Layout {
    min-height: 100vh;
    padding: 10px;
}

.Body {
    margin-top: 80px;
    padding: 20px 0;
    display: flex;
    min-height: 80vh;
}

.Right  { 
    width: 25%;
    padding: 20px;
}

.Footer {
    background: #E6FFFA;
    height: 200px;
    margin-top:100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Home {
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin-top: 28vh;
    align-items: center;
}

.BigText {
    color: #1D4044;
    width: 800px;
    font-size: 58px;
    font-weight: 800;
    line-height: 58px;
    text-align: center;
}

.MediumText {
    color: rgb(68, 68, 68);
    margin-top: 20px;
    width: 800px;
    font-size: 22px;
    font-weight: 300;
    line-height: 36px;
    text-align: center;
}

.Buttons {
    margin-top: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
}


@media only screen and (max-width: 1000px){
    .Right {
        display: none;
    }
}

@media only screen and (max-width: 650px){
    .Left {
        display: none;
    }
}